
<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav"> 

 <li> <a href="index.html" class="dropdown-toggle">Home</a></li> 
  
  <li class="dropdown">
    <a data-toggle="dropdown" href="business-requirements.html" class="dropdown-toggle">Business Requirements (DAKs)-(L2)<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="generic-personas.html">Generic Personas</a></li>
      <li><a href="user-scenarios.html">User Scenarios</a></li>
      <li><a href="business-processes.html">Business Processes &amp; Workflows</a></li>
      <li><a href="decision-support-logic.html">Decision Support Logic</a></li>
       <li><a href="functional-requirements.html">Functional Requirements</a></li>
       <li><a href="non-functional-requirements.html">Non-Functional Requirements</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="artifacts.html" class="dropdown-toggle">FHIR Artifacts-(L3)<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="artifacts.html#structures-resource-profiles">Profiles and Extensions</a></li>
      <li><a href="artifacts.html#terminology-value-sets">Terminology</a></li>
      <li><a href="artifacts.html#example-example-instances">Examples and Instances</a></li>
      <li><a href="artifacts.html#artifacts-summary">Capability and Search</a></li>
      <li><a href="artifacts.html#structures-logical-models">Logical Models</a></li>
    </ul>
  </li>


  <li> <a href="search-operation.html" >Search and Operations</a></li> 
    <li> <a href="privacy-security.html" >Privacy and Security</a></li> 
